JWT_SECRET=your_jwt_secret_here
ALGORITHM=HS256
AWS_REGION=us-east-1
S3_BUCKET_NAME=your_s3_bucket_name_here
LAMBDA_FUNCTION_NAME=dlp_forensic_watermark_processor
VAULT_DIR=vault
USERS_DB_PATH=users_db.json
