# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# TrackDocuments Local Vault
local_app/vault/
vault/
*.blob
metadata.json
local_app/vault/*
!local_app/vault/.gitkeep

# AWS / Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.pem
*.zip
!pymupdf_layer_amazonlinux.zip

# IDEs & OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo
constants.txt
